/*
Bootstrap overrides
*/
.navbar-default {
    background-color: rgb(255, 130, 17);
    border-color: #FF8211;
}
.navbar-default .navbar-nav>li>a {
    color: rgb(255, 255, 255);
}
.navbar-default .navbar-toggle {
    border-color: rgba(255,255,255,0.4);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255,255,255,0.9);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 173, 0, 0.75);
}
.navbar-default .navbar-brand {
    color: rgb(255, 255, 255);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #FFA204;
}
.panel-primary {
    border-color: #FF8211;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: rgb(255, 130, 17);
    border-color: rgb(255, 130, 17);
}
body {
    color: rgba(255,150,0,1);
}
.btn-default {
    color: #FF8211;
    background-color: #fff;
    border-color: #FF8211;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #FF8211;
    background-color: rgba(253,255,140,1);
    border-color: #FF8211;
}
default.focus, .btn-default:focus {
    color: #FF8211;
    background-color: #FDFFB9;
    border-color: #FF8211;
    outline-color: rgba(255, 130, 17, 0.67);
}
.btn-default:hover {
    color: #FF8211;
    background-color: #FDFFB9;
    border-color: #FF8211;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #FF8211;
    text-decoration: none;
}
a {
    color: #FF8211;
    text-decoration: none;
}
a:focus, a:hover {
    color: #FF0000;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline-offset: -2px;
}
.form-control:focus {
    border-color: #FF8211;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(251, 155, 67);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(255, 130, 17);
}
.form-control {
    color: #FF8211;
    border: 1px solid rgba(255,130,17,0.6);
}
/*
Styling Chat home
*/
.userbody {
    height: 67vh;
}
.message, .online{
    height: 55vh;
    overflow-y: auto;
}
.chat{
    height: 36.5vh;
    overflow-y: auto;
    padding: 0 20px 10px;
}

.chat hr {
    margin: 5px 0;
}

.chat p {
    padding-left: 8px;
    margin-bottom: 0px;
}

.userinput{
    resize: none;
    width: 100%;
    padding: 10px;
    border-color: #DDD;
}
.userinput:focus {
    outline-color: #DDDDDD;
}
.message::-webkit-scrollbar-track,
.online::-webkit-scrollbar-track,
.chat::-webkit-scrollbar-track{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255,130,17,0.40);
    background-color: rgba(255, 255, 255, 0.97);
}

.message::-webkit-scrollbar,
.online::-webkit-scrollbar,
.chat::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    height: 4px;
    background-color: #FFFFFF;
}

.message::-webkit-scrollbar-thumb,
.online::-webkit-scrollbar-thumb,
.chat::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(255, 130, 17);
    background-color: rgba(255, 142, 40, 0.6);
}